body {
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
}
	h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}
.container {
	width: 70%;
	margin: 0 auto;
	}
p {
	font-family: 'Coming Soon', cursive;
	line-height: 1.65em;
}
.menu{
	position: fixed;
	z-index: 1;
	width: 100%;
	background: rgb(32,27,42);
	background: linear-gradient(103deg, rgba(32,27,42,1) 0%, rgba(72,66,73,1) 100%);
	display: flex;
	justify-content: flex-end;
	padding: 20px 0 6px 0;
	font-size: 16px;
}
.menu p { 
	padding-right: 20px;
}
.menu a {
	color: #fff;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}
.menu a:hover {
	border-bottom: 2px solid #fff;
}
header {
padding-bottom: 100px;
}
.headline{
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
}
.fon {
	margin-bottom: 100px;
}
.sity {
	padding-top: 180px;
}
.wrapper{
	display: flex;
	justify-content: space-between;
}
.map {
	border: 2px solid #484249;
	border-radius: 20%;
} 
.Description{
	width: 450px;
	padding-top: 10px;
	font-size: 22px;
}
.offer{
	display: flex;
	justify-content: space-around;
	padding-bottom: 90px;
}
.theatre {
	border: 2px solid #484249;
	border-radius: 50%;

}
.video {
	border: 2px solid #484249;
	border-radius: 20px;
	margin-bottom: 110px;
}
.carousel{
	padding-bottom: 100px;
}
footer{
background: rgb(32,27,42);
background: linear-gradient(103deg, rgba(32,27,42,1) 0%, rgba(72,66,73,1) 100%);;
}
.footer {
	display: flex;
	justify-content: space-between;
}
.foot {
	color: #fff;
	padding-top: 20px;
}